.newest-products{
   width: 100%;
   height: auto;
    margin-top: 30px;
}
.newest-products h1{
    text-align: center;
    color: var( --clr-font);
}

.products-container{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    gap: 20px;
}

@media(max-width:1556px){
    .products-container{
        grid-template-columns: repeat(4 , 1fr);
    }
}
@media(max-width:1036px){
    .products-container{
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media(max-width:766px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:580px){
    .products-container{
        grid-template-columns: 1fr;
    }
}